{% block titulo %}Tecnico nuevo {% endblock %}
{% block encabezado %}
	<h1>Comparte una nuevo perro</h1>
{% endblock %}
{% block contenidos %}
	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		<table border="2">
		{{formulario.as_table}}
	    </table>
		<p><input type='submit' value='Registrar'/></p>
	</form>
{% endblock %}