{% block titulo %}Tecnico {% endblock %}
{% block encabezado %}
	<h1>ELIMINAR</h1>
{% endblock %}
{% block contenidos %}
<h2>DESEA ELIMINAR ESTE TECNICO ?</h2>
	<form id='form' method='POST' enctype='multipart/form-data' action=''>{% csrf_token %}
		<table border="2">
            
          {% if tecnico %}
         <h1>NOMBRE : {{ tecnico.titulo }} </h1> 
          {% endif %}
	</table>

		<p><input type='submit' value='eliminar'/></p>
	</form>
{% endblock %}