{% block titulo %}Eliminar Clientes {% endblock %}
{% block encabezado %}
	<h1>ELIMINAR</h1>
{% endblock %}
{% block contenidos %}
<h2>DESEA ELIMINAR ESTE CLIENTE ?</h2>
	<form id='form' method='POST' enctype='multipart/form-data' action=''>{% csrf_token %}
		<table border="2">
            
          {% if cliente %}
         <h1>NOMBRE : {{ cliente.nombre_cliente}} </h1> 
          {% endif %}
	</table>

		<p><input type='submit' value='eliminar'/></p>
	</form>
{% endblock %}