
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> 
        {% block css %}
        <style>
        img { width:100px; }
        </style>
    {% endblock %}
    {% block encabezado %}
        <h1>Nuestros Clientes</h1>
    {% endblock %}
    
    {% block contenido %}
        <table>
             <tr>
                 <th>Nombre</th>
                 <th>Direccion</th>
                 <th>fono</th>
                 <th>Email</th>
                 <th>Comuna</th>
                 <th>Nombre Tecnico</th>
             </tr>
                {% for dato in cli %}
                <tr>
                    <td>{{dato.nombre_cliente}}</td>
                    <td>{{dato.direccion_cliente}}</td>
                    <td>{{dato.fono_cliente}}</td>
                    <td>{{dato.email_cliente}}</td>
                    <td>{{dato.comuna}}</td>
                    <td>{{dato.usuario}}</td>
                    <td>
        <a href="{% url 'crear_orden' %}">Generar Orden</a><br>
        <td><img src='{{MEDIA_URL}}{{dato.imagen.url}}'></td>
        
                    </td>
                </tr>

                {% empty %}
            <h1>Aún no hay clientes registrados</h1>
                {% endfor %}
               
        </table>
        {% endblock contenido %}
</body>
</html>
