
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> 
        {% block css %}
        <style>
        img { width:100px; }
        </style>
    {% endblock %}
    {% block encabezado %}
        <h1>Nuestras ordenes</h1>
    {% endblock %}
    
    {% block contenido %}
        <table>
             <tr>
                 <th>Folio Orden</th>
                 <th>Fecha_orden</th>
                 <th>hora_inicio</th>
                 <th>fallas_orden</th>
                 <th>ascensor</th>
                 <th>cliente</th>
                 <th>tecnico</th>
                 
             </tr>
                {% for dato in form %}
                <tr>
                    <td>{{dato.folio_orden}}</td>
                    <td>{{dato.fecha_orden}}</td>
                    <td>{{dato.hora_inicio_orden}}</td>
                    <td>{{dato.fallas_orden}}</td>
                    <td>{{dato.ascensor}}</td>
                    <td>{{dato.cliente.nombre_cliente}}</td>
                    <td>{{dato.usuario}}</td>
                    <td>
        
                    </td>
                </tr>

                {% empty %}
            <h1>Aún no hay clientes registrados</h1>
                {% endfor %}
               
        </table>
        {% endblock contenido %}
</body>
</html>
