
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> 
        {% block css %}
        <style>
        img { width:100px; }
        </style>
    {% endblock %}
    {% block encabezado %}
        <h1>Nuestros Items</h1>
    {% endblock %}
    
    {% block contenido %}
        <table>
             <tr>
                 <th>Nombre</th>
                 <th>Usuario</th>
                 <th>Precio</th>
                 <th>Categoria</th>
             </tr>
                {% for dato in form %}
                <tr>
                    <td>{{dato.titulo}}</td>
                    <td>{{dato.usuario}}</td>
                    <td>{{dato.Precio}}</td>
                    <td>{{dato.categoria}}</td>
                    <td>
        <td><img src='{{MEDIA_URL}}{{dato.imagen.url}}'></td>
        
                    </td>
                </tr>

                {% empty %}
            <h1>Aún no nada</h1>
                {% endfor %}
               
        </table>
        {% endblock contenido %}
</body>
</html>
