
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/half-slider.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/cliente/registrar/">Registrate</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/cliente/ingresar/">login</a>
                      </li>
                    </ul>
                  </div>
        </div>
    </nav><br><br><br>
    <h1>Ingresa</h1>
        {% block content %}
	    <form id='formulario' method='post' action=''>
			{% csrf_token %}
		    Ingrese Su Usuario  : {{ formulario.username }}<br>

			Ingrese Su Clave : {{ formulario.password }}<br>
		    <p><input type='submit' value='Ingresar'/></p>
	    </form>
        {% endblock %}
</body>
</html>
