{% extends 'base.html' %}
{% block titulo %}Error de acceso{% endblock %}
{% block encabezado %}
	<h1>Error de acceso</h1>
{% endblock %}
{% block content %}
	<p>El usuario y la contraseña no coinciden o no existen.</p>
{% endblock %}

